@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  color: white;
  font-family: 'Inter', sans-serif;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #202020;
  padding: 60px 0;
}
